.navBarLogo {
	height: 35px;
}

@media (prefers-reduced-motion: no-preference) {
	.navBarLogo {
		animation: navBarLogo-spin infinite 5s alternate-reverse;
	}
}

@keyframes navBarLogo-spin {
	from {
		transform: rotate(45deg);
	}
	to {
		transform: rotate(-45deg);
	}
}

.itemsCarrito {
	width: fit-content;
	height: fit-content;
	padding: 0px 3px;
	border-radius: 30%;
	position: absolute;
	right: 15px;
	top: 15px;
	color: #fff;
}

.itemCart {
	width: 66rem;
    height: 7rem;
    box-shadow: 0px 3px 5px grey;
    border-radius: 0.375rem;
    position: relative;
    margin: 10px auto;
    background-color: #fff;
}

.imgCart img {
	max-width: 60%;
	height: auto;
}

.navCart {
	background-color: grey;
	width: 100%;
}
