.btnCounter {
	padding: 4px 4px;
	color: white;
	font-size: 15px;
	min-width: 25px;
	max-width: 160px;
	background-color: rgb(38, 34, 39);
	border-radius: 4px;
	border: none;
	margin: 5px 15px;
	cursor: pointer;
}
